[Unit]
Description=Run the OLX sync hourly

[Timer]
OnBootSec=5min
OnUnitActiveSec=1h
Persistent=true
RandomizedDelaySec=5min

[Install]
WantedBy=timers.target
